mainmenu "Lemon build configuration"

menu "Global configuration"
	choice
		prompt "System and applications language"
		default GLOBAL_LANGUAGE_FRENCH

		config GLOBAL_LANGUAGE_ENGLISH
			bool "English"

		config GLOBAL_LANGUAGE_FRENCH
			bool "French"
	endchoice
endmenu

menu "System"
	config SYSTEM_TOTAL_RAM_SIZE_MEGA_BYTES
		int "Allowed RAM amount in megabytes"
		default 16

	config SYSTEM_IS_DEBUG_ENABLED
		bool "Enable debugging messages"
		default false

	choice
		prompt "Hard disk driver"
		default SYSTEM_HARD_DISK_DRIVER_IDE

		config SYSTEM_HARD_DISK_DRIVER_IDE
			bool "IDE"

		config SYSTEM_HARD_DISK_DRIVER_SATA
			bool "SATA"

		config SYSTEM_HARD_DISK_DRIVER_RAM
			bool "RAM device"
	endchoice
endmenu
